/*HEADER*/
.header {
  background-color: #001f3c;
  padding: 16px 16px 16px 16px;
  margin: 0;
  height: 48px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/*LEFT SECTION OF THE HEADER*/
.left-section {
  display: flex;
  align-items: center;
}

.button-menu {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar-menu-1, .bar-menu-2, .bar-menu-3 {
  width: 35px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #2e6a98;
  margin: 6px 0;
  transition: 0.4s;
}

.bar-menu-1 {
  transform: translate(0, 11px) rotate(-45deg)
}

.bar-menu-2 {
  opacity: 0;
}

.bar-menu-3 {
  transform: translate(0, -11px) rotate(45deg);
}

.change .bar-menu-1 {
  transform: none;
}

.change .bar-menu-2 {
  opacity: 1;
}

.change .bar-menu-3 {
  transform: none;
}

.sf2e-fr-logo-header {
  width: 200px;
}

.title-header {
  min-width: 400px;
  margin-left: 16px;
  margin-right: 8px;
  font-family: Kode Mono;
  font-size: 32px;
  font-weight: bolder;
  color:#66d9e0;
  transition: 0.4s;
}

@media screen and (max-width: 1070px) {
  .title-header {
    font-size: 24px;
    min-width: 230px;
    transition: 0.4s;
  }
  .sf2e-fr-logo-header {
    width: 120px;
    transition: 0.4s;
  }
}

@media screen and (max-width: 930px) {
  .title-header {
    font-size: 18px;
    min-width: 150px;
    transition: 0.4s;
  }
}

/*MIDDLE SECTION OF THE HEADER*/
.middle-section {
  display: flex;
  flex: 1;
  max-width: 400px;
  align-items: center;
}

.searchbar {
  flex: 1;
  height: 50px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2e6a98;
  border-radius: 32px 0 0 32px;
  box-shadow: inset 2px 2px 5px #699ecf;
}

.searchbar::placeholder {
  font-family: Kode Mono;
  font-size: 18px;
  color:black;
  padding: 0 0 0 16px;
}

.searchbar:focus {
  padding-left: 16px;
  font-family: Kode Mono;
  font-size: 18px;
  color: black;
  box-shadow: 2px 2px 5px #699ecf;
  outline: none;
}

.button-search {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #2e6a98;
  border-radius: 0 32px 32px 0;
  box-shadow: inset 2px 2px 5px #699ecf;
  width: 56px;
  height: 56px;
  margin-left: -2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.button-search .tooltip {
  position: absolute;
  font-family: Kode Mono;
  font-size: 16px;
  font-weight: 700;
  color: withe;
  background-color: #699ecf;
  bottom: -16px;
  opacity: 0;
}

.button-search:hover .tooltip {
  font-family: Kode Mono;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #699ecf;
  bottom: -20px;
  opacity: 0.8;
  transition: opacity 0.3s;
  pointer-events: none;
}

.button-search:active {
  box-shadow: 2px 2px 5px #699ecf;
}

.search-icon {
  width: 40px;
  height: auto;
  margin-left: -2px;
}

/*RIGHT SECTION OF THE HEADER*/
/*
.button-login {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.login-icon {
  width: 48px;
  height: 48px;
  margin-left: 8px;
}
*/
/*SIDEBAR*/
.sidebar {
  display: block;
  position: fixed;
  top: 62px;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-image: url(/assets/backgrounds/background_space1.png);
  transition:left 0.3s ease;
}

.main {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.main.main-shifted {
  margin-left: 300px;
}

.sidebar-menu {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #2e6a98;
  font-family: Kode Mono;
  font-size: 20px;
  font-weight: 700;
  color: #2e6a98;
  background-color: #001f3c;
  height: 40px;
  padding: 16px 0 6px 16px;
}

.sidebar-menu:hover {
  color: #001f3c;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #2e6a98;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-menu.active {
  color: #001f3c;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #2e6a98;
  cursor: pointer;
}

.sidebar-submenu {
  display: block;
  transition: height 2s ease;
  height: auto;
  overflow: hidden;
  color: white;
  background-color: #2e6a98;
}

.sidebar-submenu-item {
  display: block;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #001f3c;
  font-family: Kode Mono;
  font-size: 16px;
  color: white;
  background-color: black;
  height: 24px;
  padding: 16px 0 6px 16px;
}

.sidebar-submenu-item:hover {
  color: white;
  background-color: #2e6a98;
  transition: 0.3s;
}

